.venv
blockchain/node_modules
blockchain/config.json
blockchain/chainlink-mix
token_profiler/telegram_config.json

#Telegram session files
*.session

# Local .terraform directories (created via 'terraform init')
*.terraform*

# .tfstate files
*.tfstate
*.tfstate.*
terraform/.terraform*
terraform/terraform.exe
terraform/cmds.txt

# Crash log files
crash.log

blockchain/__pycache__
blockchain/__pycache__/*
*/__pycache__/*
!**/__pycache__/
*/*/__pycache__/*
# For security reasons, don't store private key files on GitHub
*.pem
*.ppk
